.gameBtn {
  background: lightblue;
  border: solid 2px #000;
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;

  font-size: 200px;
}

.tictactoe{
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 25px;
  margin-bottom: 75px; /*!important: this must be at least equal to height of footer */

  width: 100%;
}

.col{
  display: flex;
  flex-direction: column;
}

.results {
  text-align: center;
  margin-bottom: 75px;  /*!important: this must be at least equal to height of footer */
}

#resetBtn{
  background-color: #3f51b5;
  color: white;
  border: solid 2px #000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  width: 200px;
  height: 75px;
  font-size: x-large;
}
