.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: #3f51b5;
    right: 0;
    left: 0;
}