

<!-- <mat-grid-list cols="3" rowHeight="250px">
  <mat-grid-tile id="tile1" (click)="playerMove($event)">1</mat-grid-tile>
  <mat-grid-tile id="tile2" (click)="playerMove($event)">2</mat-grid-tile>
  <mat-grid-tile id="tile3" (click)="playerMove($event)">3</mat-grid-tile>
  <mat-grid-tile id="tile4" (click)="playerMove($event)">4</mat-grid-tile>
  <mat-grid-tile id="tile5" (click)="playerMove($event)">5</mat-grid-tile>
  <mat-grid-tile id="tile6" (click)="playerMove($event)">6</mat-grid-tile>
  <mat-grid-tile id="tile7" (click)="playerMove($event)">7</mat-grid-tile>
  <mat-grid-tile id="tile8" (click)="playerMove($event)">8</mat-grid-tile>
</mat-grid-list> -->
<div class="tictactoe">
  <div class="col">
    <button class="gameBtn" id="tile1" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile2" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile3" (click)="playerMove($event)">-</button>
  </div>
  <div class="col">
    <button class="gameBtn" id="tile4" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile5" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile6" (click)="playerMove($event)">-</button>
  </div>
  <div class="col">
    <button class="gameBtn" id="tile7" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile8" (click)="playerMove($event)">-</button>
    <button class="gameBtn" id="tile9" (click)="playerMove($event)">-</button>
  </div>
</div>

<button id="resetBtn" (click)="reset()" mat-raised-button>Reset</button>