.gameBtn {
  background: lightblue;
  border: solid 2px #000;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 10px;
  
  font-size: 750%;
}

.tictactoe{
  display: flex;
  justify-content: center;
  height  : 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  width: 100%;
}

.col{
  display: flex;
  flex-direction: column;
}

#resetBtn{
  background-color: #3f51b5;
  color: white;
  border: solid 2px #000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
}