<div class="card">
  <div class="error-msg">!Currently under development</div>
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <div [formGroup]="user">
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="name" class="form-control" #name/>
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" #password/>
          </div>
          <div>
              <button mat-button type="submit" class="submitButton" (click)="OnSubmit(name.value, password.value)">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                  Login
              </button>
          </div>
        </div>
  </div>
</div>
