<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form >
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="username" class="form-control"/>
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control"/>
          </div>
          <div>
              <button class="btn btn-primary">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                  Login
              </button>
          </div>
      </form>
  </div>
</div>
