<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form >
          <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input id="username" type="text" [formControl]="username"/>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="text" [formControl]="password"/>
          </div>
          <!-- test line -->
          <p>Username: {{ username.value }}</p>
          <div>
              <button class="btn btn-primary">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                  Login
              </button>
          </div>
      </form>
  </div>
</div>
